<!-- Start content -->
<div class="content">
    <div class="container-fluid">
        <label for="inputCity" class="col-form-label"></label>
        <!-- Form row -->
        
        <div class="row">
           
            <div class="col-md-12">
                
                <div class="card-box">   
                    {{!-- <br> --}}
                    
                    <!-- Report Header -->   
                    <div class="form-row">                          
                        <div class="form-group col-md-2" style=text-align:center>
                            <br>
                            <br>
                            <span>
                                <img src="assets/images/ReportLogo.png" alt="" height="75">
                            </span>
                        </div>
                        <div class="form-group col-md-8" style=text-align:center>
                            <div class="summernote" id -"rptTxt">
                                <h3>Default Text</h3>
                            </div>
                            {{!-- <label id="lblHospital" for="Name" class="col-form-label"  style="font-size:30px"> HMS Hospital Ltd. </label> <br>
                            <label id="lbltagLine" for="Name" class="col-form-label"> (Keeping You well) </label><br>
                            <label id="lblAddress" for="Name" class="col-form-label"> Complete Address </label><br>
                            <label id="lblEmail" for="Name" class="col-form-label"> Email : admin@admin.com  </label>
                            <label id="lblMobile" for="Name" class="col-form-label"> | Mobile : 12345678 </label><br>
                            <label id="lblOther" for="Name" class="col-form-label"> Complete Address1 </label> --}}
                        </div>

                        <div class="form-group col-md-2" style=text-align:center>
                            <br><br><br><br><br><br><br><br>
                            <label id="lblDate" for="Name" class="col-form-label"> Date </label>
                        </div>
                    </div>
                    
                    <hr Style="margin-top:0">

                    {{!-- <div class="pagebreak"> </div> --}}

                    {{!-- Page Header --}}
                    <div class="form-row">
                        <div class="col-md-3">
                            <div class="form-row">
                                <div class="form-group col-md-4">
                                    <label id="lblTitle1" for="Name" class="col-form-label" style="font-weight:bold"> Title </label>
                                </div>
                                <div class="form-group col-md-8">
                                    <label id="lblText1" for="Name" class="col-form-label"> DB Taxt</label>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-5">
                            <div class="form-row">
                                <div class="form-group col-md-3">
                                    <label id="lblTitle2" for="Name" class="col-form-label" style="font-weight:bold"> Title </label>
                                </div>
                                <div class="form-group col-md-9">
                                    <label id="lblText2" for="Name" class="col-form-label"> DB Taxt</label>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-row">
                                <div class="form-group col-md-4">
                                    <label id="lblTitle3" for="Name" class="col-form-label" style="font-weight:bold"> Title </label>
                                </div>
                                <div class="form-group col-md-8">
                                    <label id="lblText3" for="Name" class="col-form-label"> DB Taxt</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="form-row">
                        <div class="col-md-3">
                            <div class="form-row">
                                <div class="form-group col-md-4">
                                    <label id="lblTitle4" for="Name" class="col-form-label" style="font-weight:bold"> Title </label>
                                </div>
                                <div class="form-group col-md-8">
                                    <label id="lblText4" for="Name" class="col-form-label"> DB Taxt</label>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-5">
                            <div class="form-row">
                                <div class="form-group col-md-3">
                                    <label id="lblTitle5" for="Name" class="col-form-label" style="font-weight:bold"> Title </label>
                                </div>
                                <div class="form-group col-md-9">
                                    <label id="lblText5" for="Name" class="col-form-label"> DB Taxt</label>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-row">
                                <div class="form-group col-md-4">
                                    <label id="lblTitle6" for="Name" class="col-form-label" style="font-weight:bold"> Title </label>
                                </div>
                                <div class="form-group col-md-8">
                                    <label id="lblText6" for="Name" class="col-form-label"> DB Taxt</label>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="col-md-3">
                            <div class="form-row">
                                <div class="form-group col-md-4">
                                    <label id="lblTitle7" for="Name" class="col-form-label" style="font-weight:bold"> Title </label>
                                </div>
                                <div class="form-group col-md-8">
                                    <label id="lblText7" for="Name" class="col-form-label"> DB Taxt</label>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-5">
                            <div class="form-row">
                                <div class="form-group col-md-3">
                                    <label id="lblTitle8" for="Name" class="col-form-label" style="font-weight:bold"> Title </label>
                                </div>
                                <div class="form-group col-md-9">
                                    <label id="lblText8" for="Name" class="col-form-label"> DB Taxt</label>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-row">
                                <div class="form-group col-md-4">
                                    <label id="lblTitle9" for="Name" class="col-form-label" style="font-weight:bold"> Title </label>
                                </div>
                                <div class="form-group col-md-8">
                                    <label id="lblText9" for="Name" class="col-form-label"> DB Taxt</label>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="col-md-3">
                            <div class="form-row">
                                <div class="form-group col-md-4">
                                    <label id="lblTitle10" for="Name" class="col-form-label" style="font-weight:bold"> Title </label>
                                </div>
                                <div class="form-group col-md-8">
                                    <label id="lblText10" for="Name" class="col-form-label"> DB Taxt</label>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-5">
                            <div class="form-row">
                                <div class="form-group col-md-3">
                                    <label id="lblTitle11" for="Name" class="col-form-label" style="font-weight:bold"> Title </label>
                                </div>
                                <div class="form-group col-md-9">
                                    <label id="lblText11" for="Name" class="col-form-label"> DB Taxt</label>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-row">
                                <div class="form-group col-md-4">
                                    <label id="lblTitle12" for="Name" class="col-form-label" style="font-weight:bold"> Title </label>
                                </div>
                                <div class="form-group col-md-8">
                                    <label id="lblText12" for="Name" class="col-form-label"> DB Taxt</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br>

                    {{!-- Report Details Grid Data --}}
                    {{!-- <hr Style="margin-top:0"> --}}
                    
                    <div class="form-row">                        
                        <div class="form-group col-md-12">
                            <label id="lblgridData" for="Name" class="col-form-label" style="width: 100%;"> </label>                                
                        </div> 
                    </div>

                    <hr Style="margin-top:0">

                    {{!-- Report Footer --}}
                    
                    <div class="form-row">
                        <div class="col-md-4">
                            <div class="form-row" hidden>
                                <div class="form-group col-md-4">
                                    <label id="lblTitle13" for="Name" class="col-form-label" style="font-weight:bold"> Title </label>
                                </div>
                                <div class="form-group col-md-8">
                                    <label id="lblText13" for="Name" class="col-form-label"> DB Taxt</label>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-row" hidden>
                                <div class="form-group col-md-4">
                                    <label id="lblTitle14" for="Name" class="col-form-label" style="font-weight:bold"> Title </label>
                                </div>
                                <div class="form-group col-md-8">
                                    <label id="lblText14" for="Name" class="col-form-label"> DB Taxt</label>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-5">
                            <div class="form-row" >
                                
                                <div class="form-group col-md-4">
                                    <label id="lblTitle15" for="Name" class="col-form-label" style="font-weight:bold"> Title </label>
                                </div>
                                <div class="form-group col-md-8">
                                    <label id="lblText15" for="Name" class="col-form-label" style="font-weight:bold"> DB Taxt</label>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="col-md-12">
                            <div class="form-row">
                                <div class="form-group col-md-1">
                                    <label id="lblTitle16" for="Name" class="col-form-label" style="font-weight:bold"> Title </label>
                                </div>
                                <div class="form-group col-md-11">
                                    <label id="lblText16" for="Name" class="col-form-label"> DB Taxt</label>
                                </div>
                            </div>
                        </div>
                        {{!-- <div class="col-md-4">
                            <div class="form-row">
                                <div class="form-group col-md-4">
                                    <label id="lblTitle17" for="Name" class="col-form-label" style="font-weight:bold"> Title </label>
                                </div>
                                <div class="form-group col-md-8">
                                    <label id="lblText17" for="Name" class="col-form-label"> DB Taxt</label>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-row">
                                <div class="form-group col-md-4">
                                    <label id="lblTitle18" for="Name" class="col-form-label" style="font-weight:bold"> Title </label>
                                </div>
                                <div class="form-group col-md-8">
                                    <label id="lblText18" for="Name" class="col-form-label"> DB Taxt</label>
                                </div>
                            </div>
                        </div> --}}
                    </div>
                    <br><br>

                </div>
            </div>
        </div>    
        <!-- end row -->
    </div> <!-- container -->
</div> <!-- content -->
<footer class="footer text-right">

</footer>


<script>
    var defaultdata = {{{ data1 }}};
    //Page Title
    $('#lblFormName').html("OPD Bill Report");

    // Report Header
    $(".summernote").html(defaultdata.result[0].RPT_HEADER);
    $('#lblDate').html(defaultdata.result[0].RPT_TIME);
   
    // Page Header
    $('#lblTitle1').html("OPD No. : ");
    $('#lblText1').html(defaultdata.response_Header[0].BILL_ID);
    $('#lblTitle2').html("Payer : ");
    $('#lblText2').html(defaultdata.response_Header[0].PAYER);
    $('#lblTitle3').html("OPD Date. : ");
    $('#lblText3').html(defaultdata.response_Header[0].BILL_DATE);
    $('#lblTitle4').html("UID : ");
    $('#lblText4').html(defaultdata.response_Header[0].PATIENT_ID);
    $('#lblTitle5').html("Name : ");
    $('#lblText5').html(defaultdata.response_Header[0].PATIENT);
    $('#lblTitle6').html("Age/Sex : ");
    $('#lblText6').html(defaultdata.response_Header[0].AGE_GENDER);    
    $('#lblTitle7').html("Mobile : ");
    $('#lblText7').html(defaultdata.response_Header[0].MOBILE);
    $('#lblTitle8').html("Address : ");
    $('#lblText8').html(defaultdata.response_Header[0].ADDRESS);
    $('#lblTitle9').html("Email ID : ");
    $('#lblText9').html(defaultdata.response_Header[0].EMAIL);
    $('#lblTitle10').html("Category : ");
    $('#lblText10').html(defaultdata.response_Header[0].SERVICE_CATEGORY);
    $('#lblTitle11').html("Dr Name : ");
    $('#lblText11').html(defaultdata.response_Header[0].DR_NAME);    
    $('#lblTitle12').html("Department : ");
    $('#lblText12').html(defaultdata.response_Header[0].DEPARTMENT);

    // Report Footer
    $('#lblTitle13').html("OPD Bill No. : ");
    $('#lblText13').html(defaultdata.response_Header[0].BILL_ID);
    $('#lblTitle14').html("OPD Bill No. : ");
    $('#lblText14').html(defaultdata.response_Header[0].BILL_ID);
    $('#lblTitle15').html("Total Amount : ");
    $('#lblText15').html(defaultdata.response_Header[0].PAYBLE_AMOUNT);
    $('#lblTitle16').html("Bill Note: ");
    $('#lblText16').html(defaultdata.response_Header[0].BILL_DESCRIPTION);
    /*
    $('#lblTitle17').html("OPD Bill No. : ");
    $('#lblText17').html(defaultdata.response_Header[0].BILL_ID);
    $('#lblTitle18').html("OPD Bill No. : ");
    $('#lblText18').html(defaultdata.response_Header[0].BILL_ID);
    */
    
    // Report Dtl/Grid Data
    var tabData = '<table class="table" border=0>';
    tabData += '<thead class="thead-light">';
    tabData += '<tr>';
    tabData += '<td style= "font-weight:bold"> Service </td>';
    tabData += '<td style= "font-weight:bold"> Qty </td>';
    tabData += '<td style= "font-weight:bold"> Service Amount </td>';
    tabData += '<td style= "font-weight:bold"> Total Amount </td>';
    //tabData += '<td style= "font-weight:bold"> Dr. Amount </td>';
    //tabData += '<td style= "font-weight:bold"> Hospital Amount </td>';
    tabData += '</tr>';

    for (var i = 0; i < defaultdata.response_Dtl.length; i++) {
        tabData += '<tr>';
        tabData += "<td>" + defaultdata.response_Dtl[i].SERVICE + "</td>";
        tabData += "<td>" + defaultdata.response_Dtl[i].QUANTITY + "</td>";
        tabData += "<td>" + defaultdata.response_Dtl[i].SERVICE_AMOUNT + "</td>";
        tabData += "<td>" + defaultdata.response_Dtl[i].TOTAL_AMOUNT + "</td>";        
        //tabData += "<td>" + defaultdata.response_Dtl[i].DR_AMOUNT + "</td>";
        //tabData += "<td>" + defaultdata.response_Dtl[i].H_AMOUNT + "</td>";
        tabData += '</tr>';
    }
        tabData += '</thead>';
        tabData += '</table>';
    $('#lblgridData').html(tabData);
    
    // Report Footer

</script>